## Exercícios

Link para Dataset: https://www.kaggle.com/datasets/matheusfreitag/gas-prices-in-brazil

In [365]:
import pandas as pd

## Neste projeto, trabalharemos com dois arquivos csvs separados, contendo informações sobre o preço da gasolina no Brasil. 

### 1. Carregue os conjuntos de dados "gasolina_2000+.csv" e "gasolina_2010+.csv" em dois DataFrames diferentes e combine-os em um único DataFrame.

In [366]:
gasolina2000 = pd.read_csv('Datasets/gasolina_2000+.csv',  index_col=0)

In [367]:
gasolina2000

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.190,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.890,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.180,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.090,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.050,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52802,2010-12-26,2011-01-01,SUDESTE,RIO DE JANEIRO,ÓLEO DIESEL,574,R$/l,1.983,0.086,1.779,2.280,0.255,0.043,1.728,0.04,1.609,1.8536,0.023
52803,2010-12-26,2011-01-01,SUDESTE,SAO PAULO,ÓLEO DIESEL,1871,R$/l,1.966,0.070,1.699,2.399,0.261,0.036,1.705,0.045,1.5764,1.969,0.026
52804,2010-12-26,2011-01-01,SUL,PARANA,ÓLEO DIESEL,469,R$/l,1.946,0.058,1.799,2.109,0.19,0.030,1.756,0.038,1.659,1.9268,0.022
52805,2010-12-26,2011-01-01,SUL,RIO GRANDE DO SUL,ÓLEO DIESEL,419,R$/l,2.052,0.059,1.890,2.310,0.267,0.029,1.785,0.039,1.677,1.9172,0.022
52806,2010-12-26,2011-01-01,SUL,SANTA CATARINA,ÓLEO DIESEL,328,R$/l,2.018,0.066,1.849,2.210,0.225,0.033,1.793,0.042,1.7,1.8854,0.023

In [368]:
gasolina2010 = pd.read_csv('Datasets/gasolina_2010+.csv', index_col=0)

C:\Users\thiag\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (12,14,15,16,17,18) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [369]:
gasolina2010

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
9256,2011-01-02,2011-01-08,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,80,R$/l,2.030,0.003,2.020,2.050,0.411,0.001,1.619,0.013,1.6111,1.6411,0.008
9257,2011-01-02,2011-01-08,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,255,R$/l,1.717,0.102,1.490,1.990,0.225,0.059,1.492,0.069,1.3221,1.6201,0.046
9258,2011-01-02,2011-01-08,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,141,R$/l,1.848,0.148,1.590,2.490,0.326,0.080,1.522,0.105,1.2833,1.7486,0.069
9259,2011-01-02,2011-01-08,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,132,R$/l,1.893,0.108,1.699,2.199,0.191,0.057,1.702,0.04,1.5915,1.79,0.024
9260,2011-01-02,2011-01-08,NORDESTE,ALAGOAS,ETANOL HIDRATADO,97,R$/l,2.026,0.084,1.749,2.100,0.268,0.041,1.758,0.042,1.63,1.848,0.024
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120818,2021-04-25,2021-05-01,NORTE,RORAIMA,OLEO DIESEL S10,12,R$/l,4.582,0.056,4.510,4.690,-99999.0,0.012,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120819,2021-04-25,2021-05-01,SUL,SANTA CATARINA,OLEO DIESEL S10,100,R$/l,4.141,0.187,3.838,4.739,-99999.0,0.045,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120820,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,OLEO DIESEL S10,886,R$/l,4.246,0.216,3.769,5.199,-99999.0,0.051,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120821,2021-04-25,2021-05-01,NORDESTE,SERGIPE,OLEO DIESEL S10,33,R$/l,4.464,0.205,4.190,4.699,-99999.0,0.046,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120822,2021-04-25,2021-05-01,NORTE,TOCANTINS,OLEO DIESEL S10,18,R$/l,4.352,0.156,4.199,4.699,-99999.0,0.036,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0

In [370]:
gasolina = pd.concat([gasolina2000, gasolina2010])

In [371]:
gasolina.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 120823 entries, 0 to 120822
Data columns (total 18 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   DATA INICIAL                   120823 non-null  object
 1   DATA FINAL                     120823 non-null  object
 2   REGIÃO                         120823 non-null  object
 3   ESTADO                         120823 non-null  object
 4   PRODUTO                        120823 non-null  object
 5   NÚMERO DE POSTOS PESQUISADOS   120823 non-null  int64
 6   UNIDADE DE MEDIDA              120823 non-null  object
 7   PREÇO MÉDIO REVENDA            120823 non-null  float64
 8   DESVIO PADRÃO REVENDA          120823 non-null  float64
 9   PREÇO MÍNIMO REVENDA           120823 non-null  float64
 10  PREÇO MÁXIMO REVENDA           120823 non-null  float64
 11  MARGEM MÉDIA REVENDA           120823 non-null  object
 12  COEF DE VARIAÇÃO REVENDA       120823 non-null  float64
 13  PREÇO MÉDIO DISTRIBUIÇÃO       120823 non-null  object
 14  DESVIO PADRÃO DISTRIBUIÇÃO     120823 non-null  object
 15  PREÇO MÍNIMO DISTRIBUIÇÃO      120823 non-null  object
 16  PREÇO MÁXIMO DISTRIBUIÇÃO      120823 non-null  object
 17  COEF DE VARIAÇÃO DISTRIBUIÇÃO  120823 non-null  object
dtypes: float64(5), int64(1), object(12)
memory usage: 17.5+ MB

### 2.Investigue as colunas e entenda o conjunto de dados usando o head() e info()

In [372]:
gasolina.tail()

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
120818,2021-04-25,2021-05-01,NORTE,RORAIMA,OLEO DIESEL S10,12,R$/l,4.582,0.056,4.510,4.690,-99999.0,0.012,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120819,2021-04-25,2021-05-01,SUL,SANTA CATARINA,OLEO DIESEL S10,100,R$/l,4.141,0.187,3.838,4.739,-99999.0,0.045,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120820,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,OLEO DIESEL S10,886,R$/l,4.246,0.216,3.769,5.199,-99999.0,0.051,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120821,2021-04-25,2021-05-01,NORDESTE,SERGIPE,OLEO DIESEL S10,33,R$/l,4.464,0.205,4.190,4.699,-99999.0,0.046,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120822,2021-04-25,2021-05-01,NORTE,TOCANTINS,OLEO DIESEL S10,18,R$/l,4.352,0.156,4.199,4.699,-99999.0,0.036,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0

In [373]:
gasolina.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 120823 entries, 0 to 120822
Data columns (total 18 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   DATA INICIAL                   120823 non-null  object
 1   DATA FINAL                     120823 non-null  object
 2   REGIÃO                         120823 non-null  object
 3   ESTADO                         120823 non-null  object
 4   PRODUTO                        120823 non-null  object
 5   NÚMERO DE POSTOS PESQUISADOS   120823 non-null  int64
 6   UNIDADE DE MEDIDA              120823 non-null  object
 7   PREÇO MÉDIO REVENDA            120823 non-null  float64
 8   DESVIO PADRÃO REVENDA          120823 non-null  float64
 9   PREÇO MÍNIMO REVENDA           120823 non-null  float64
 10  PREÇO MÁXIMO REVENDA           120823 non-null  float64
 11  MARGEM MÉDIA REVENDA           120823 non-null  object
 12  COEF DE VARIAÇÃO REVENDA       120823 non-null  float64
 13  PREÇO MÉDIO DISTRIBUIÇÃO       120823 non-null  object
 14  DESVIO PADRÃO DISTRIBUIÇÃO     120823 non-null  object
 15  PREÇO MÍNIMO DISTRIBUIÇÃO      120823 non-null  object
 16  PREÇO MÁXIMO DISTRIBUIÇÃO      120823 non-null  object
 17  COEF DE VARIAÇÃO DISTRIBUIÇÃO  120823 non-null  object
dtypes: float64(5), int64(1), object(12)
memory usage: 17.5+ MB

In [374]:
gasolina[gasolina['PREÇO MÉDIO REVENDA'] >5]

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
24132,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,GLP,44,R$/13Kg,33.989,0.803,32.00,36.00,6.824,0.024,27.165,3.062,25,29.33,0.113
24133,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,GLP,372,R$/13Kg,30.335,1.841,27.00,36.00,5.328,0.061,25.007,1.756,19.4983,29,0.07
24134,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,GLP,97,R$/13Kg,38.568,2.045,33.00,44.00,5.713,0.053,32.855,2.296,27.75,38,0.07
24135,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,GLP,109,R$/13Kg,33.388,2.308,29.00,39.00,4.585,0.069,28.803,1.764,24,33,0.061
24136,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,GLP,22,R$/13Kg,32.391,1.357,27.90,33.00,7.641,0.042,24.75,0.354,24.5,25,0.014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120750,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,GLP,663,R$/13Kg,85.340,5.292,68.00,99.99,-99999.0,0.062,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120751,2021-04-25,2021-05-01,NORDESTE,SERGIPE,GLP,16,R$/13Kg,83.508,3.882,79.90,90.00,-99999.0,0.046,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120752,2021-04-25,2021-05-01,NORTE,TOCANTINS,GLP,57,R$/13Kg,93.867,5.759,80.00,108.00,-99999.0,0.061,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120769,2021-04-25,2021-05-01,NORTE,ACRE,OLEO DIESEL,36,R$/l,5.550,0.304,4.98,5.78,-99999.0,0.055,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120796,2021-04-25,2021-05-01,NORTE,ACRE,OLEO DIESEL S10,38,R$/l,5.209,0.288,4.95,5.78,-99999.0,0.055,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0

### 3. Selecione a terceira entrada da coluna DATA INICIAL e verifique seu tipo.

In [375]:
type(gasolina["DATA INICIAL"][3])

str

### 4. Você deve ter percebido que as colunas DATA INICIAL e DATA FINAL estão formatadas como string. Utilizando o método pd.to_datetime(), converta ambas colunas para Timestamp / Datetime.

In [376]:
gasolina['DATA INICIAL'] = pd.to_datetime(gasolina['DATA INICIAL'])

In [377]:
gasolina[['DATA INICIAL']].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 120823 entries, 0 to 120822
Data columns (total 1 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   DATA INICIAL  120823 non-null  datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 5.9 MB

In [378]:
gasolina['DATA FINAL'] = pd.to_datetime(gasolina['DATA FINAL'])

In [379]:
gasolina[['DATA FINAL']].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 120823 entries, 0 to 120822
Data columns (total 1 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   DATA FINAL  120823 non-null  datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 5.9 MB

### 5. Crie uma nova coluna para representar o ano e o mês(aaaa-mm), utilizando a coluna DATA FINAL como referência.

In [380]:
gasolina['ANO MES'] = pd.to_datetime(gasolina['DATA FINAL'], format='%Y/%m')

In [381]:
gasolina['ANO-MES'] = gasolina['DATA FINAL'].apply(lambda x: "{}".format(x.year)) + gasolina['DATA FINAL'].apply(lambda x:"/{:02d}".format(x.month))

In [382]:
gasolina[['ANO MES']].head()

     ANO MES
0 2004-05-15
1 2004-05-15
2 2004-05-15
3 2004-05-15
4 2004-05-15

In [383]:
gasolina['ANO-MES']

0         2004/05
1         2004/05
2         2004/05
3         2004/05
4         2004/05
           ...
120818    2021/05
120819    2021/05
120820    2021/05
120821    2021/05
120822    2021/05
Name: ANO-MES, Length: 120823, dtype: object

### 6. Utilizando o value_counts(), liste todos os tipos de produtos contidos na base de dados.

In [384]:
gasolina['PRODUTO'].value_counts()

GASOLINA COMUM        23570
GLP                   23561
ETANOL HIDRATADO      23440
ÓLEO DIESEL           21194
GNV                   14469
ÓLEO DIESEL S10        9113
OLEO DIESEL S10        2376
OLEO DIESEL            2351
GASOLINA ADITIVADA      749
Name: PRODUTO, dtype: int64

### 7. Filtre o DataFrame para obter apenas dados da 'GASOLINA COMUM'. Grave em uma nova variável.

In [385]:
gasolina_comum = gasolina[gasolina['PRODUTO'] == 'GASOLINA COMUM']

In [386]:
gasolina_comum['PRODUTO'].value_counts()

GASOLINA COMUM    23570
Name: PRODUTO, dtype: int64

### 8. Qual o preço médio de revenda da gasolina em agosto de 2008?

In [387]:
#gasolina['PREÇO MÉDIO REVENDA'] = gasolina['PREÇO MÉDIO REVENDA'].astype('float')
#gasolina[['PREÇO MÉDIO REVENDA']].info()

In [388]:
(gasolina_comum[(gasolina_comum['DATA INICIAL'] >= '2008-08-01') & (gasolina_comum['DATA FINAL'] <= '2008-08-31')]['PREÇO MÉDIO REVENDA']).mean()

2.6037222222222227

In [389]:
gasolina_comum[gasolina_comum['ANO-MES'] == '2008/08']['PREÇO MÉDIO REVENDA'].mean()

2.6012444444444447

### 9. Qual o preço médio de revenda da gasolina em maio de 2014 em São Paulo?

In [390]:
(gasolina_comum[(gasolina_comum['DATA INICIAL'] >= '2014-05-01') & (gasolina_comum['DATA FINAL'] <= '2014-05-30') & (gasolina_comum['ESTADO'] == 'SAO PAULO')]['PREÇO MÉDIO REVENDA']).mean()

2.8823333333333334

In [402]:
gasolina_comum[(gasolina_comum['ANO-MES'] == '2014/05') & (gasolina_comum['ESTADO'] == 'SAO PAULO')]['PREÇO MÉDIO REVENDA'].mean()

2.8822

In [409]:
gasolina_comum[gasolina_comum['ANO-MES'] == '2015/06'][['ANO-MES','PREÇO MÉDIO REVENDA']]

       ANO-MES  PREÇO MÉDIO REVENDA
74897  2015/06                3.807
74898  2015/06                3.250
74899  2015/06                3.298
74900  2015/06                3.606
74901  2015/06                3.477
...        ...                  ...
75376  2015/06                3.536
75377  2015/06                3.203
75378  2015/06                3.126
75379  2015/06                3.357
75380  2015/06                3.495

[108 rows x 2 columns]

### 10. Você conseguiria descobrir em qual(quais) estado(s) a gasolina ultrapassou a barreira dos R$ 5,00? E quando isso ocorreu?

In [419]:
gasolina_comum[(gasolina_comum['PREÇO MÉDIO REVENDA'] > 5)][['ESTADO','ANO-MES']]

                ESTADO  ANO-MES
98201             ACRE  2018/05
98347             ACRE  2018/06
98493             ACRE  2018/06
98511   RIO DE JANEIRO  2018/06
98646             ACRE  2018/06
...                ...      ...
120721         RORAIMA  2021/05
120722  SANTA CATARINA  2021/05
120723       SAO PAULO  2021/05
120724         SERGIPE  2021/05
120725       TOCANTINS  2021/05

[353 rows x 2 columns]

### 11. Qual a média de preço dos estados da região sul em 2012?

In [422]:
(gasolina_comum[(gasolina_comum['REGIÃO'] == 'SUL') & (gasolina_comum['DATA INICIAL'] >= '2012-1-1') & (gasolina_comum['DATA FINAL'] <= '2012-12-31')]['PREÇO MÉDIO REVENDA']).mean()

2.7214423076923073

In [425]:
gasolina_comum['DATA FINAL'].apply(lambda x: x.year) == 2012

12064     False
12065     False
12066     False
12067     False
12068     False
          ...
120721    False
120722    False
120723    False
120724    False
120725    False
Name: DATA FINAL, Length: 23570, dtype: bool

In [427]:
gasolina_comum[(gasolina_comum['DATA FINAL'].apply(lambda x: x.year) == 2012) & (gasolina_comum['REGIÃO'] == 'SUL')]['PREÇO MÉDIO REVENDA'].mean()

2.7214423076923073

### 12. Você conseguiria obter uma tabela contendo a variação percentual ano a ano para o estado do Rio de Janeiro?

In [515]:
ultimo_preco_rj = gasolina_comum.groupby(gasolina_comum['DATA FINAL'].apply(lambda x: str(x.year)) + ' ' + ((gasolina_comum['ESTADO'] == 'RIO DE JANEIRO').apply(lambda x: 'RIO DE JANEIRO' if x==True else None)))[['PREÇO MÉDIO REVENDA']].last()

In [516]:
ultimo_preco_rj

                     PREÇO MÉDIO REVENDA
2004 RIO DE JANEIRO                2.296
2005 RIO DE JANEIRO                2.508
2006 RIO DE JANEIRO                2.531
2007 RIO DE JANEIRO                2.540
2008 RIO DE JANEIRO                2.565
2009 RIO DE JANEIRO                2.607
2010 RIO DE JANEIRO                2.660
2011 RIO DE JANEIRO                2.849
2012 RIO DE JANEIRO                2.877
2013 RIO DE JANEIRO                3.072
2014 RIO DE JANEIRO                3.206
2015 RIO DE JANEIRO                3.862
2016 RIO DE JANEIRO                4.002
2017 RIO DE JANEIRO                4.548
2018 RIO DE JANEIRO                4.812
2019 RIO DE JANEIRO                4.995
2020 RIO DE JANEIRO                4.929
2021 RIO DE JANEIRO                6.099

In [520]:
((ultimo_preco_rj[:] / ultimo_preco_rj[:].shift(1) - 1) * 100).rolling(3).sum()

                     PREÇO MÉDIO REVENDA
2004 RIO DE JANEIRO                  NaN
2005 RIO DE JANEIRO                  NaN
2006 RIO DE JANEIRO                  NaN
2007 RIO DE JANEIRO            10.506106
2008 RIO DE JANEIRO             2.256908
2009 RIO DE JANEIRO             2.977270
2010 RIO DE JANEIRO             4.654667
2011 RIO DE JANEIRO            10.775678
2012 RIO DE JANEIRO            10.121052
2013 RIO DE JANEIRO            14.865958
2014 RIO DE JANEIRO            12.122674
2015 RIO DE JANEIRO            31.601507
2016 RIO DE JANEIRO            28.448678
2017 RIO DE JANEIRO            37.729878
2018 RIO DE JANEIRO            23.072992
2019 RIO DE JANEIRO            23.250920
2020 RIO DE JANEIRO             8.286421
2021 RIO DE JANEIRO            26.218738

### DESAFIO: Crie uma tabela contendo uma serie temporal com a diferença absoluta e percentual entre os valores mais baratos e caros. Apresente também ao lado os estados na qual os maiores e menores preços foram registrados.

In [553]:
preco_max = gasolina_comum.groupby('ANO-MES')['PREÇO MÉDIO REVENDA'].max()

In [554]:
preco_min = gasolina_comum.groupby('ANO-MES')['PREÇO MÉDIO REVENDA'].min()

In [556]:
id_preco_max = gasolina_comum.groupby('ANO-MES')['PREÇO MÉDIO REVENDA'].idxmax()

In [579]:
id_preco_min = gasolina_comum.groupby('ANO-MES')['PREÇO MÉDIO REVENDA'].idxmin()

In [587]:
estado_preco_max = gasolina_comum.loc[id_preco_max, ["ESTADO", "ANO-MES"]].set_index("ANO-MES")

In [589]:
estado_preco_min = gasolina_comum.loc[id_preco_min, ["ESTADO", "ANO-MES"]].set_index("ANO-MES")

In [530]:
dif_abs = preco_max - preco_min

In [532]:
dif_perc = (preco_max- preco_min)/preco_min*100

In [534]:
tab_desafio = pd.DataFrame()

In [535]:
tab_desafio['preco_min'] = preco_min

In [537]:
tab_desafio['preco_max'] = preco_max

In [539]:
tab_desafio['dif_abs'] = dif_abs

In [542]:
tab_desafio['dif_perc'] = dif_perc

In [590]:
tab_desafio['estado_preco_max'] = estado_preco_max

In [592]:
tab_desafio['estado_preco_min'] = estado_preco_min

In [593]:
tab_desafio

,preco_min,preco_max,dif_abs,dif_perc,estado_preco_max,estado_preco_min
ANO-MES,,,,,,
2004/05,1.888,2.438,0.550,29.131356,ACRE,SAO PAULO
2004/06,1.912,2.496,0.584,30.543933,MATO GROSSO,SAO PAULO
2004/07,1.936,2.545,0.609,31.456612,ACRE,DISTRITO FEDERAL
2004/08,2.030,2.560,0.530,26.108374,MATO GROSSO,SAO PAULO
2004/09,2.031,2.570,0.539,26.538651,ACRE,SAO PAULO
...,...,...,...,...,...,...
2021/01,3.830,5.213,1.383,36.109661,ACRE,AMAPA
2021/02,4.121,5.809,1.688,40.960932,ACRE,AMAPA
2021/03,4.579,6.688,2.109,46.058091,ACRE,AMAPA
2021/04,4.777,6.227,1.450,30.353779,ACRE,AMAPA
2021/05,4.867,6.258,1.391,28.580234,ACRE,AMAPA